$backgroundColor: rgb(255, 255, 255);
$selectBackgroundColor: rgb(107, 250, 236);
.user-detail {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 15px 20px;
  padding: 5px;
  right: 0;
  text-align: left;
  background-color: rgba($backgroundColor, 0.9);
  border-radius: 5px;
  cursor: pointer;
  width: 240px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.user-detail-header {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.user-detail-header-text,
.user-detail-header-arrow {
  padding-right: 10px;
}

.user-detail-granted-content-section,
.user-detail-denied-content-section {
  display: none;
}
.user-detail:hover {
  .user-detail-granted-content-section,
  .user-detail-denied-content-section {
    display: inline-block;
  }
  .user-detail-header-arrow {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
}
.user-detail-granted-content {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  &:hover {
    background-color: $selectBackgroundColor;
    transition: background-color 0.7s ease;
  }
}

.selected.user-detail-selection {
  background-color: $selectBackgroundColor;
}

.user-detail-denied-content {
  margin: 5px;
  padding: 10px;
}
