/** Global Vars **/
$fontSize: 16px;

.App {
  text-align: center;
  font-size: $fontSize;
}
.action-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
}

.left-action-container {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.right-action-container {
  display: flex;
  right: 0;
  flex-direction: row;
  position: absolute;
}


@media only screen and (max-width:800px) {
  .action-container {
    flex-direction: column;
  }
  .left-action-container {
    z-index: 10;
  }  
  .right-action-container {
    padding: 50px;
    width:100%;
    left:0;
  }
}