{
    "presets": ["@babel/preset-env", "@babel/preset-typescript"],
    /** Fix Async Function Generator Issue **/
    "env": {
        "test": {
          "plugins": ["@babel/plugin-transform-runtime"]
        }
    }
}