$backgroundColor: rgb(255, 255, 255);

.driver-count-slider-container {
  display: flex;
  flex-direction: row;
  z-index: 1;
  padding: 5px;
  align-items: center;
  background-color: rgba($backgroundColor, 0.9);
  border-radius: 5px;
  margin-top: 15px;
  width: 290px;
  height: 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.driver-count-slider-header,
.driver-count-slider-count {
  margin: 0px 10px;
}
